/* lato-regular - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/lato-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lato-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lato-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lato-v20-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
 }
 /* lato-700 - latin */
 @font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/lato-v20-latin-700.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/lato-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lato-v20-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lato-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lato-v20-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
 }
 /* lato-900 - latin */
 @font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   src: url('../fonts/lato-v20-latin-900.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/lato-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lato-v20-latin-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lato-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lato-v20-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
 }
/* говорят, такой способ настройки border-box более производительный */
 html{
    box-sizing: border-box;
 }
 *, *::before, *::after {
    box-sizing: inherit;
 }
/* стили header */
 body{
   font-family: 'Lato';
   font-style: normal;
   font-size: 16px;
   line-height: 1.2;
   font-weight: normal;
   color: #102746;

 }

 .wrapper {
   max-width: 1060px;
   margin: 0 auto;
 }
 
 .header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 }

 .header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
 }

 .header_list {
    display: flex;
    flex-wrap: wrap;
 }

 .header_item {
    margin-right: 82px;
 }
.header_item:last-child{
   margin-right: 0;
}

.header_link {
   font-size: 18px;
   line-height: 24px;
   color: #fff;
   text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
   opacity: 75%;
}
/* конуц стилей header */

/* стили блока intro */
.intro {
   height: 100vh;
   background: url(/img/intro_bg.jpg) no-repeat center;
   background-size: cover;
   padding-top: 263px;
}

.intro_title {
   margin-bottom: 22px;
   max-width: 619px;
   font-weight: 500;
   font-size: 50px;
   line-height: 60px;
   color: #FFFFFF;
}

.intro_subtitle {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   max-width: 546px;
   color: #FFFFFF;
   margin-bottom: 59px;
}

.serach_form_field{
   width: 297px;
   background-color: transparent;
   background: url(/img/circle.svg) no-repeat left top;
   border: 0;
   background-size: 20px;
   border-bottom: 2px solid #BFC0C5;
   margin-right: 60px;
   padding-left: 43px;
   padding-bottom: 22px;
   font-weight: 500;
   font-size: 18px;
   color: #fff;
}

.serach_form_field::placeholder{
   font-weight: 500;
   font-size: 18px;
   color: #fff;
}
/*  конец стилей блока intro */